{% load staticfiles %}
{% load blog_tags %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>{% block title %}wangjojo的博客{% endblock title%}</title>

  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{% static 'images/app-icon72x72@2x.png' %}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="{% static 'images/app-icon72x72@2x.png' %}">
  <meta name="msapplication-TileImage" content="{% static 'images/app-icon72x72@2x.png' %}">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="{% static 'css/amazeui.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/menu.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

  {% block custom_css %}{% endblock custom_css %}
</head>

<body id="blog">
    <div id='cssmenu' class="align-center">
      <ul>
          <li class=""><a href="{% url 'index' %}"><span>首页</span></a></li>
          <li class='has-sub'><a href='#'><span>分类</span></a>
            <ul>
              {% for category in home_display_categorys %}
                <li><a href="{% url 'blog:blog_category' category.id %}"><span>{{ category.name }}</span></a></li>
              {% endfor %}  
            </ul>
          
          {% if request.user.is_authenticated %}
            <li class='has-sub'><a href='#'><span>{{ request.user.username }}</span></a>
              <ul>
                  <li><a href="{% url 'user:user_info' %}">进入个人中心</a></li>
                  <li><a href="{% url 'logout' %}">退出</a></li>   
              </ul>
            </li>
          {% else %}
            <li class='has-sub'><a href='#'><span>用户</span></a>
              <ul>
                  <li><a href="{% url 'login' %}">登录</a></li>
                  <li><a href="{% url 'register' %}">注册</a></li>                
              </ul>
            </li>   
          {% endif %}

          <li class='last'><a href='/admin/'><span>管理</span></a></li>

      </ul>
    </div>

<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="wangjojo_logo"/></a>
    </div>
</header>

{% block custom_nav %}
<nav class="am-g am-g-fixed blog-fixed blog-nav">
  <div class="am-collapse am-topbar-collapse" id="blog-collapse">

    <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
      <div class="am-form-group">
        <select data-am-selected="{btnWidth: '23%', btnSize: 'sm'}" class="am-form-field am-input-sm" id="jsSelectOption">
          <option value="blog">博客</option>
          <option value="author">作者</option> 
        </select>
        <input id="search_keywords" type="text" class="am-form-field am-input-sm" value="" placeholder="搜索">
        <button id="js-submit" type='button' class="am-form-field am-input-sm"><span class="am-icon-search"></span></button>
      </div>
    </form>

  </div>
</nav>  
{% endblock custom_nav %}

{% block banner %}

{% endblock banner %}
<hr>
<div class="am-g am-g-fixed blog-fixed">
    {% block sidebar1 %}
    {% endblock sidebar1 %}

    {% block article %}
      
    {% endblock article %}
    
    {% block sidebar2 %}
    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        {% block author %}
        {% endblock author %}

        {% block fav %}
          
        {% endblock fav %}

        {% block hot_tag %}
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>热门博客</span></h2>
            <ul class="am-list">
              {% get_hot_blogs as hot_blogs%}
              {% for blog in hot_blogs %}
                <li><a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title}}</a></li>
              {% endfor %}
                
            </ul>
        </div>

        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g">
            <h2 class="blog-text-center blog-title"><span>归档</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
            {% archives as date_list %}
              {% for date in date_list %}
              <a href="{% url 'blog:blog_archives' date.year date.month %}" class="blog-tag">{{ date.year}}年{{ date.month }}月</a>
            {% empty %}
              暂无归档 
            {% endfor %}
            </div>
        </div>
        
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
              {% get_tags as tag_list %}
              {% for tag in tag_list %}
              <a href="{% url 'blog:blog_tag' tag.id %}" class="blog-tag">{{ tag.name }}<span>({{ tag.num_blogs }})</span></a>
              {% empty %}
              暂无标签
              {% endfor %}  
            </div>
        </div>          
        {% endblock hot_tag %}


    </div>
    {% endblock sidebar2 %}
</div>


<footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>网站简介</h3>
            <img src="{% static 'images/dibu.jpg' %}" alt="">
            <p class="am-text-sm">
              这是一个瞎折腾的django博客。<br> 
              勉强算是多人博客 <br>
              支持登录，注册，评论，收藏，发博客。。。<br>
              需要缝缝补补的地方很多，需要开发的地方也很多，要苦练技术啊<br>
              如果有改动，应该会写公告，写给自己看，自娱自乐(*^▽^*) <br>
              嗯嗯嗯，不知道说啥了。计算机的世界真精彩<br>
          </p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>扫码可以联系我哦</h3>
            <p>
              <img src="{% static "images/wechat2.jpg" %}" alt="微信二维码" height="300" width="300">
            </p>
            <h3>Credits</h3>         
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
              <h1>一些链接</h1>
             <h3></h3>
            <p>
                <ul>
                    <li>寻找美图：<a href="https://www.pixiv.net/">Pixiv</a></li>
                    <li>同性交友(雾)：<a href="https://github.com/">Github</a></li>
                    <li>自我虐待：<a href="https://leetcode-cn.com/problemset/algorithms/">LeetCode</a></li>
                    <li>django教程：<a href="https://code.ziqiangxuetang.com/django/django-tutorial.html">自强学堂</a></li>
                    <li>python教程：<a href="https://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000">廖雪峰</a></li>
                </ul>
            </p>
        </div>
    </div>    
    <div class="blog-text-center">© 2018 Wangjojo, Power by Django.托管于阿里云,京ICP备17073805号-2.  模板收集自 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></div>
</footer>





<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{% static 'js/mooc/jquery.min.js' %}"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="{% static 'js/amazeui.min.js' %}"></script>
<script src="{% static 'js/mooc/deco-common.js' %}"></script>
<script>
$('#js-submit').on('click', function(){
    var type = $('#jsSelectOption').val()
    var keywords = $('#search_keywords').val()
    var request_url = ''

    if(keywords == ""){
        return
    }
    if(type == "blog"){
        request_url = "/blog/search/list?type=blog&keywords="+keywords
    }else if(type == "author"){
        request_url = "/blog/search/list?type=author&keywords="+keywords
    }
    window.location.href = request_url
})

</script>
{% block custom_js %}{% endblock custom_js %}
</body>
</html>