{% extends "base.html" %}
{% load staticfiles %}
{% load blog_tags %}
{% block title %}
作者详情 | wangjojo的博客
{% endblock title%}

{% block sidebar1 %}
    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="{{ MEDIA_URL }}{{ author.image }}" alt="about me" class="blog-entry-img" >
            <p><button type="button" class="am-btn am-btn-default am-active am-round">{{ author.nick_name }}</button></p>
            <p>{{ author.desc }}</p>
            <button type="button" class="am-btn am-btn-primary" id="fav_author">{% if has_fav %}已关注{% else %}关注{% endif %}</button>
        </div>

        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g">
            <h2 class="blog-text-center blog-title"><span>归档</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
            {% archives as date_list %}
              {% for date in date_list %}
              <a href="{% url 'blog:blog_archives' date.year date.month %}" class="blog-tag">{{ date.year}}年{{ date.month }}月</a>
            {% empty %}
              暂无归档 
            {% endfor %}
            </div>
        </div>
        
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
              {% get_tags as tag_list %}
              {% for tag in tag_list %}
              <a href="{% url 'blog:blog_tag' tag.id %}" class="blog-tag">{{ tag.name }}<span>({{ tag.num_blogs }})</span></a>
              {% empty %}
              暂无标签
              {% endfor %}  
            </div>
        </div> 

        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>热门博客</span></h2>
            <ul class="am-list">
              {% get_hot_blogs as hot_blogs%}
              {% for blog in hot_blogs %}
                <li><a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title}}</a></li>
              {% endfor %}
                
            </ul>
        </div>
          
    </div>      
{% endblock sidebar1 %}

{% block article %}
    <div class="am-u-md-8 am-u-sm-12">
        {% for blog in all_blogs.object_list %}
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <img src="{{ MEDIA_URL }}{{ blog.image }}" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span><a href="{% url 'blog:blog_category' blog.category.id %}" class="blog-color">{{ blog.category.name }} &nbsp;</a></span>
                <span><a href="#">{{ blog.author.nick_name }}</a> &nbsp;</span>
                <span>{{ blog.add_time }}</span>
                <h1><a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title }}</a></h1>
                <p>{{ blog.content|slice:'100' }}</p>
                <p><a href="{% url 'blog:blog_detail' blog.id %}">continue reading</a></p>
                <hr>
                <span class="blog-color3 fa fa-hand-pointer-o">：{{ blog.click_nums}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="blog-color2 fa fa-heart-o">：{{ blog.fav_nums}}</span>
            </div>
        </article>            
        {% endfor %}

  
        <ul class="am-pagination am-pagination-centered">
        {% if all_blogs.has_previous %}
            <li class="am-pagination-prev"><a href="?{{ all_blogs.previous_page_number.querystring }}">&laquo; Prev</a></li>
        {% else %}
            <li class="am-pagination-prev"><span class="disabled prev">&laquo; Prev</span></li>
        {% endif %}

        {% for page in all_blogs.pages %}
            {% if page %}
                {% ifequal page all_blogs.number %}
                <li class="am-active"><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% else %}
                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
                <li class="None"><a href="#"></a>...</li>
            {% endif %}
        {% endfor %}

        {% if all_blogs.has_next %}
            <li class="am-pagination-next"><a href="?{{ all_blogs.next_page_number.querystring }}">Next &raquo;</a></li>
        {% else %}
            <li class="am-pagination-next"><span class="disabled prev">Next &raquo;</span></li>
        {% endif %}
        </ul>

    </div>      
{% endblock article %}

{% block sidebar2 %}
{% endblock sidebar2 %}

{% block custom_js %}
<script type="text/javascript">
//收藏分享
function add_fav(current_elem, fav_id, fav_type){
    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url 'user:add_fav' %}",
        data:{'fav_id':fav_id, 'fav_type':fav_type},
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}' );
        },
        success: function(data) {
            if(data.status == 'fail'){
                if(data.msg == '用户未登录'){
                    window.location.href="{% url 'index' %}";
                }else{
                    alert(data.msg)
                }

            }else if(data.status == 'success'){
                current_elem.text(data.msg)
            }
        },
    });
}

$('#fav_author').on('click', function(){
    add_fav($(this), {{ author.id }}, 2);
});

</script>
{% endblock custom_js %}    
