{% extends "usercenter_base.html" %}

{% load staticfiles %}
{{ form.media }}
{% block custom_css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">    
{% endblock custom_css %}
{% block title %}
    我的消息 | wangjojo的博客
{% endblock title %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'user:user_info' %}">个人中心</a>></li>
                <li>我的消息</li>
            </ul>
        </div>
    </section>   
{% endblock custom_bread %}

{% block rigth_content %}
    <div class="right" >
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <form role="form" id="writeblogForm" >
                        {% csrf_token %}
                        <div class="form-group">
                             <label for="exampleInputEmail1">博客标题</label>
                             <input id="js-title"type="text" class="form-control" name="title" />
                        </div>
                        <hr>
                        <div class="form-group">
                             <label for="exampleInputPassword1">博客内容</label>
                                 <div id="editor"></div>
                        </div>

                        <div class="form-group">
                             <label for="exampleInputEmail1">此时想说的话</label>
                             <input id="js-say" type="text" class="form-control" name="say" placeholder="(默认为个性签名)"/>
                        </div>

                        <div class="form-group">
                            <label for="name">请选择博客分类</label>
                            <select class="form-control" id="js-category">
                            {% for category in categorys %}
                                <option value="{{ category.name }}">{{ category.name }}</option>
                            {% endfor %}
                                

                            </select>
                            <label for="name">请选择博客标签(按住Ctrl可多选)</label>
                            <select multiple class="form-control" id="js-tag" name="tag">
                            {% for tag in tags %}
                                <option value="{{ tag.name }}">{{ tag.name }}</option>
                            {% endfor %}
                                

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="inputfile">博客封面</label>
                            <input id='js-image' type="file">
                        </div>
                        <button id="js-submit" type="submit" class="btn btn-default">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock rigth_content %}

{% block custom_js %}
<script type="text/javascript" src="/static/js/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
    editor.customConfig.showLinkImg = false

    editor.create()
</script>

<script type="text/javascript">
    $('#js-submit').on('click', function(){
        /*var comments = $("#js-pl-textarea").val()*/
        var title = $("#js-title").val()
        var content = editor.txt.html()
        var say = $("#js-say").val()
        var category = $("#js-category").val()
        var tag = String($("#js-tag").val())
        var image = $("#js-image").val()

        if(title == ""){
            alert("博客标题不能为空")
            return 
        }
        if(content == ""){
            alert("博客内容不能为空")
            return
        }

        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'user:write_blog' %}",
            data:{'title':title, 'content':content,'want_to_say':say,'image':image,'category':category,'tag':tag},
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                if(data.status == 'fail'){
                    if(data.msg == '用户未登录'){
                        window.location.href="{% url 'login' %}";
                    }else{
                        alert('发布成功')
                    }

                }else if(data.status == 'success'){
                    window.location.reload();//刷新当前页面.
                }
            },
        });
    });

</script>
{% endblock custom_js %}