{% extends "usercenter_base.html" %}

{% load staticfiles %}

{% block title %}
    我的收藏 | wangjojo的博客
{% endblock title %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'user:user_info' %}">个人中心</a>></li>
                <li>我的收藏</li>
            </ul>
        </div>
    </section>   
{% endblock custom_bread %}

{% block rigth_content %}
    <div class="right" >
            <div class="personal_des Releasecont">
                <div class="head">
                    <h1>我的收藏</h1>
                </div>
            </div>
            <div class="personal_des permessage">
                <div class="head">
                    <ul class="tab_header messagehead">
                        <li class="active"><a href="{% url 'user:fav_author' %}">关注的作者</a></li>
                        <li><a href="{% url 'user:fav_blog' %}">收藏的博客</a></li>
                    </ul>
                </div>
                <div class="messagelist">
                {% for author in all_authors.object_list %}
                    <div class=" butler_list butler-fav-box">
                        <dl class="des users">
                            <dt>
                                <a href="{% url 'blog:blog_author' author.id %}">
                                    <img width="100" height="100" src="{{ MEDIA_URL}}{{ author.image }}"/>
                                </a>
                            </dt>
                            <dd>
                                <h1>
                                    <a href="{% url 'blog:blog_author' author.id %}">
                                        {{ author.nick_name }}<span></span>
                                    </a>
                                </h1>
                                <ul class="cont clearfix">
                                    <li class="time">xxx：<span>xxx</span></li>
                                    <li class="c7">xxx：<span>xxx</span></li>
                                </ul>
                                <ul class="cont clearfix">
                                    <li class="time">xxx：<span>xxx</span></li>
                                    <li class="c7">xxx：<span>xxx</span></li>
                                </ul>
                            </dd>
                            <div class="delete jsDeleteFav_author" data-favid="{{ author.id }}"></div>
                        </dl>
                    </div>                       
                   {% endfor %}   

                    <div class="pageturn">
                        <ul class="pagelist">
                        {% if all_authors.has_previous %}
                            <li class="long"><a href="?{{ all_authors.previous_page_number.querystring }}">上一页</a></li>
                        {% else %}
                            <li class="long"><span class="disabled prev">上一页</span></li>
                        {% endif %}

                        {% for page in all_authors.pages %}
                            {% if page %}
                                {% ifequal page all_authors.number %}
                                <li class="active"><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                {% endifequal %}
                            {% else %}
                                <li class="None"><a href="#"></a>...</li>
                            {% endif %}
                        {% endfor %}

                        {% if all_authors.has_next %}
                            <li class="long"><a href="?{{ all_authors.next_page_number.querystring }}">下一页</a></li>
                        {% else %}
                            <li class="long"><span class="disabled prev">下一页</span></li>
                        {% endif %}
                        </ul>
                    </div>

                </div>
            </div>
    </div>
{% endblock rigth_content %}